@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

@import url("./header.css");
@import url("./panel.css");
@import url("./ofrecemos.css");
@import url("./tutoriales.css");
@import url("./logros.css");
@import url("./contacto.css");
@import url("./spinner.css");

.gradient-container{
  width: 100%;
  background: linear-gradient(180deg,rgba(6, 9, 37,1) ,rgba(6, 9, 37,.8) ), url('/game.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}